<!DOCTYPE html>
<html lang="en">
<head>
<!-- Meta Tags
    ============================================= -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Majesty by creative-wp - Responsive HTML5 template">
<meta name="author" content="creative-wp">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- Your Title Page
    ============================================= -->
<title>Majesty | Menu Tabs</title>
<!-- Favicon Icons
     ============================================= -->
<link rel="shortcut icon" href="img/favicon/favicon.ico">
<!-- Standard iPhone Touch Icon-->
<link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-touch-icon-57x57.png">
<!-- Retina iPhone Touch Icon-->
<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
<!-- Standard iPad Touch Icon-->
<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
<!-- Retina iPad Touch Icon-->
<link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-touch-icon-144x144.png">
<!-- Bootstrap Links
     ============================================= -->
<!-- Bootstrap CSS  -->
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Plugins
     ============================================= -->
<!-- Owl Carousal -->
<link rel="stylesheet" href="stylesheets/owl.carousel.css">
<link rel="stylesheet" href="stylesheets/owl.theme.css">
<!-- Animate -->
<link rel="stylesheet" href="stylesheets/animate.css">
<!-- Date Picker -->
<link rel="stylesheet" href="stylesheets/jquery.datetimepicker.css">
<!-- Pretty Photo -->
<link rel="stylesheet" href="stylesheets/prettyPhoto.css">
<!-- Font awsome icons -->
<link rel="stylesheet" href="stylesheets/font-awesome.min.css">
<!-- General Stylesheet
    ============================================= -->
<!-- Custom Fonts Setup via Font-face CSS3 -->
<link href="fonts/fonts.css" rel="stylesheet">
<!-- Main Template Styles -->
<link href="stylesheets/main.css" rel="stylesheet">
<!-- Main Template Responsive Styles -->
<link href="stylesheets/main-responsive.css" rel="stylesheet">
<!--[if lt IE 9]>
      <script src="javascripts/libs/html5shiv.js"></script>
      <script src="javascripts/libs/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- Loader
    ============================================= -->
<div id="loader">
  <div class="loader-item"> <img src="img/logo_intro.png" alt="">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>
</div>
<!-- End Loader -->
<!-- Document Wrapper
    ============================================= -->
<div id="wrapper">
  <!-- banner 
    ============================================= -->
  <section class="banner dark" >
    <div id="menu-parallax">
      <div class="bcg background41"
                data-center="background-position: 50% 0px;"
                data-bottom-top="background-position: 50% 100px;"
                data-top-bottom="background-position: 50% -100px;"
                data-anchor-target="#menu-parallax"
              >
        <div class="bg-transparent">
          <div class="banner-content">
            <div class="container" >
              <div class="slider-content  "> <i class="icon-home-ico"></i>
                <h1>Menu</h1>
                <p>Your Taste is Our Goal</p>
                <ol class="breadcrumb">
                  <li><a href="index01.html">Home</a></li>
                  <li>Menu Tabs</li>
                </ol>
              </div>
            </div>
          </div>
          <!-- End Banner content -->
        </div>
        <!-- End bg trnsparent -->
      </div>
    </div>
    <!-- Service parallax -->
  </section>
  <!-- End Banner -->
  <!-- Header
    ============================================= -->
  <header id="header" class="header-transparent">
    <div class="container">
      <div class="row">
        <div id="main-menu-trigger"><i class="fa fa-bars"></i></div>
        <!-- Logo
                    ============================================= -->
        <div id="logo"> <a href="index01.html" class="light-logo"><img src="img/logo.png" alt="Logo"></a> <a href="index01.html" class="dark-logo"><img src="img/logo_dark.png" alt="Logo"></a> </div>
        <!-- #logo end -->
        <!-- Primary Navigation
                    ============================================= -->
        <nav id="main-menu" class="dark">
          <ul>
            <li><a href="index01.html">
              <div>Home</div>
              </a>
              <ul>
                <li><a href="#">
                  <div>Layout</div>
                  </a>
                  <ul>
                    <li><a href="index01.html">
                      <div>Layout 1</div>
                      </a></li>
                    <li><a href="index02.html">
                      <div>Layout 2</div>
                      </a></li>
                    <li><a href="index03.html">
                      <div>Layout 3</div>
                      </a></li>
                  </ul>
                </li>
                <li><a href="#">
                  <div>Boxed</div>
                  </a>
                  <ul>
                    <li><a href="boxed/index01.html">
                      <div>Pattern</div>
                      </a></li>
                    <li><a href="boxed/index_bg_img.html">
                      <div>Image</div>
                      </a></li>
                    <li><a href="boxed/index_bg_color.html">
                      <div>Color</div>
                      </a></li>
                  </ul>
                </li>
                <li><a href="#">
                  <div>One Page</div>
                  </a>
                  <ul>
                    <li><a href="index_onepage_horizental.html">
                      <div>Horizental Menu</div>
                      </a></li>
                    <li><a href="index_onepage_vertical.html">
                      <div>Vertical Menu</div>
                      </a></li>
                    <li><a href="index_onepage_zooming.html">
                      <div>Image Zoom Panning BG</div>
                      </a></li>
                    <li><a href="index_onepage_fade.html">
                      <div>Image Fade BG</div>
                      </a></li>
                    <li><a href="index_onepage_slider.html">
                      <div>Image Slider</div>
                      </a></li>
                    <li><a href="index_onepage_slide_top.html">
                      <div>Image Slide Top</div>
                      </a></li>
                    <li><a href="index_onepage_fullscreen.html">
                      <div>Image Full Screen BG</div>
                      </a></li>
                    <li><a href="index_onepage_parallax.html">
                      <div>Image Parallax BG</div>
                      </a></li>
                    <li><a href="index_onepage_animation_bg.html">
                      <div>Image Animation BG</div>
                      </a></li>
                    <li><a href="index_onepage_interactive.html">
                      <div>Image Interactive BG</div>
                      </a></li>
                    <li><a href="index_onepage_video.html">
                      <div>HTML5 Video BG</div>
                      </a></li>
                    <li><a href="index_onepage_youtube.html">
                      <div>Youtube BG</div>
                      </a></li>
                    <li><a href="index_onepage_viemo.html">
                      <div>Viemo BG</div>
                      </a></li>
                    <li><a href="index_onepage_fullwidth.html">
                      <div>Full Width Slider</div>
                      </a></li>
                    <li><a href="index_onepage_animation.html">
                      <div>Animation</div>
                      </a></li>
                  </ul>
                </li>
                <li><a href="#">
                  <div>Styles</div>
                  </a>
                  <ul>
                    <li><a href="index_amrican.html">
                      <div>Amrican</div>
                      </a></li>
                    <li><a href="index_asian.html">
                      <div>Asian</div>
                      </a></li>
                    <li><a href="index_pizza.html">
                      <div>Pizza</div>
                      </a></li>
                    <li><a href="index_burger.html">
                      <div>Burger</div>
                      </a></li>
                    <li><a href="index_bakery.html">
                      <div>Bakery</div>
                      </a></li>
                    <li><a href="index_cafe.html">
                      <div>Cafe</div>
                      </a></li>
                  </ul>
                </li>
                <li><a href="index_animate.html">
                  <div>Animation</div>
                  </a></li>
              </ul>
            </li>
            <li class="mega-menu"><a href="#">
              <div>Menu</div>
              </a>
              <div class="mega-menu-content  col-1 clearfix">
                <ul>
                  <li class="mega-menu-title">
                    <div id="menu_carousel">
                      <div class="item"> <a href="menu_gird.html"> <img class="img-responsive" src="img/drop_menu/starter.jpg"  alt="starter">
                        <h2>Staters</h2>
                        </a> </div>
                      <div class="item"> <a href="menu_gird.html"> <img class="img-responsive" src="img/drop_menu/dishes.jpg"  alt="dishes">
                        <h2>Dishes</h2>
                        </a> </div>
                      <div class="item"> <a href="menu_gird.html"> <img class="img-responsive" src="img/drop_menu/fishes.jpg"  alt="fishes">
                        <h2>fishes</h2>
                        </a> </div>
                      <div class="item"> <a href="menu_gird.html"> <img class="img-responsive" src="img/drop_menu/salads.jpg"  alt="salads">
                        <h2>Salads</h2>
                        </a> </div>
                      <div class="item"> <a href="menu_gird.html"> <img class="img-responsive" src="img/drop_menu/deserts.jpg"  alt="deserts">
                        <h2>Deserts</h2>
                        </a> </div>
                      <div class="item"> <a href="menu_gird.html"> <img class="img-responsive" src="img/drop_menu/drinks.jpg"  alt="drinks">
                        <h2>Drinks</h2>
                        </a> </div>
                      <div class="item"> <a href="menu_gird.html"> <img class="img-responsive" src="img/drop_menu/soup.jpg"  alt="Soups">
                        <h2>Soups</h2>
                        </a> </div>
                      <div class="item"> <a href="menu_gird.html"> <img class="img-responsive" src="img/drop_menu/combo.jpg"  alt="Combo Meals">
                        <h2>Combo Meals</h2>
                        </a> </div>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li><a href="reservation.html">
              <div>reservation</div>
              </a> </li>
            <li><a href="#">
              <div>Blogs</div>
              </a>
              <ul>
                <li><a href="#">
                  <div>Gird</div>
                  </a>
                  <ul>
                    <li><a href="blog_gird_two_cloumn.html">
                      <div>Two Cloumn</div>
                      </a></li>
                    <li><a href="blog_gird_three_cloumn.html">
                      <div>Three Cloumn</div>
                      </a></li>
                    <li><a href="blog_gird_full_width_cloumn.html">
                      <div>Full Width</div>
                      </a></li>
                  </ul>
                </li>
                <li><a href="#">
                  <div>List</div>
                  </a>
                  <ul>
                    <li><a href="blog_list_style_1.html">
                      <div>List Style 1</div>
                      </a></li>
                    <li><a href="blog_list_style_2.html">
                      <div>List Style 2</div>
                      </a></li>
                  </ul>
                </li>
                <li><a href="#">
                  <div>Masonry</div>
                  </a>
                  <ul>
                    <li><a href="blog_masonry_two_cloumn.html">
                      <div>Two Cloumn</div>
                      </a></li>
                    <li><a href="blog_masonry_three_cloumn.html">
                      <div>Three Cloumn</div>
                      </a></li>
                    <li><a href="blog_masonry_fullwidth.html">
                      <div>Full Width</div>
                      </a></li>
                  </ul>
                </li>
                <li><a href="#">
                  <div>Single</div>
                  </a>
                  <ul>
                    <li><a href="blog_single_image.html">
                      <div>Image</div>
                      </a></li>
                    <li><a href="blog_single_slider.html">
                      <div>Slider</div>
                      </a></li>
                    <li><a href="blog_single_gallery.html">
                      <div>Gallery</div>
                      </a></li>
                    <li><a href="blog_single_lightbox.html">
                      <div>Lightbox</div>
                      </a></li>
                    <li><a href="blog_single_video.html">
                      <div>HTML5 Video</div>
                      </a></li>
                    <li><a href="blog_single_soundclouds.html">
                      <div>Soundcloud</div>
                      </a></li>
                    <li><a href="blog_single_youtube.html">
                      <div>Youtube</div>
                      </a></li>
                    <li><a href="blog_single_viemo.html">
                      <div>Viemo</div>
                      </a></li>
                    <li><a href="blog_single_blockquote.html">
                      <div>Blockquote</div>
                      </a></li>
                    <li><a href="blog_single_rightsidebar.html">
                      <div>Right Sidbar</div>
                      </a></li>
                    <li><a href="blog_single_leftsidebar.html">
                      <div>Left Sidebar</div>
                      </a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="events.html">
              <div>Events</div>
              </a> </li>
            <li><a href="contact.html">
              <div>Contact</div>
              </a> </li>
            <!-- Mega Menu
             ============================================= -->
            <li class="mega-menu"><a href="#">
              <div>Pages</div>
              </a>
              <div class="mega-menu-content style-dropdown col-4 clearfix">
                <ul>
                  <li class="mega-menu-title"><a href="#">
                    <div>About Us</div>
                    </a>
                    <ul>
                      <li><a href="about.html">
                        <div>About</div>
                        </a></li>
                      <li><a href="services.html">
                        <div>Services</div>
                        </a></li>
                      <li><a href="team.html">
                        <div>Team</div>
                        </a></li>
                      <li><a href="team_single.html">
                        <div>Single Team</div>
                        </a></li>
                      <li><a href="testimonials.html">
                        <div>Testimonials</div>
                        </a></li>
                      <li><a href="clients.html">
                        <div>Clients</div>
                        </a></li>
                      <li><a href="privacy.html">
                        <div>Privacy Policy</div>
                        </a></li>
                      <li><a href="sitemap.html">
                        <div>Sitemap</div>
                        </a></li>
                    </ul>
                  </li>
                </ul>
                <ul>
                  <li class="mega-menu-title"><a href="#">
                    <div>Menu</div>
                    </a>
                    <ul>
                      <li><a href="menu_gird.html">
                        <div>Menu Gird</div>
                        </a></li>
                      <li><a href="menu_gird_fullwidth.html">
                        <div>Menu Gird Full Width</div>
                        </a></li>
                      <li><a href="menu_masonry.html">
                        <div>Menu Masonry</div>
                        </a></li>
                      <li><a href="menu_masonry_fullwidth.html">
                        <div>Menu Masonry Full Width</div>
                        </a></li>
                      <li><a href="menu_list.html">
                        <div>Menu List</div>
                        </a></li>
                      <li> <a href="menu_tabs.html">
                        <div>Menu Tabs</div>
                        </a></li>
                      <li><a href="menu_scroll.html">
                        <div>Menu Scroll</div>
                        </a></li>
                      <li><a href="menu_shown_all.html">
                        <div>Menu Shown All</div>
                        </a></li>
                    </ul>
                  </li>
                </ul>
                <ul>
                  <li class="mega-menu-title"><a href="#">
                    <div>Menu Single</div>
                    </a>
                    <ul>
                      <li><a href="menu_single.html">
                        <div>Menu Details</div>
                        </a></li>
                      <li><a href="menu_single_rightsidebar.html">
                        <div>Menu With Right Siderbar </div>
                        </a></li>
                      <li><a href="menu_single_leftsidebar.html">
                        <div>Menu With Left Siderbar</div>
                        </a></li>
                    </ul>
                  </li>
                  <li class="mega-menu-title"><a href="#">
                    <div>Utlities</div>
                    </a>
                    <ul>
                      <li><a href="login_default.html">
                        <div>Login - Default</div>
                        </a></li>
                      <li><a href="login_fullscreen.html">
                        <div>Login - Full Screen</div>
                        </a></li>
                      <li><a href="login_video.html">
                        <div>Login - Video</div>
                        </a></li>
                      <li><a href="login_slider.html">
                        <div>Login - Slider</div>
                        </a></li>
                    </ul>
                  </li>
                </ul>
                <ul>
                  <li class="mega-menu-title"><a href="#">
                    <div>Extra Utlities</div>
                    </a>
                    <ul>
                      <li><a href="404_default.html">
                        <div>404 - Default</div>
                        </a></li>
                      <li><a href="404_video.html">
                        <div>404 - Video</div>
                        </a></li>
                      <li><a href="404_animate_bg.html">
                        <div>404 - Animate BG</div>
                        </a></li>
                      <li><a href="coming_soon_default.html">
                        <div>Coming Soon - Default</div>
                        </a></li>
                      <li><a href="coming_soon_video.html">
                        <div>Coming Soon - Video</div>
                        </a></li>
                      <li><a href="coming_soon_slider.html">
                        <div>Coming Soon - Slider</div>
                        </a></li>
                      <li><a href="register.html">
                        <div>Register</div>
                        </a></li>
                      <li><a href="blank_page.html">
                        <div>Blank Page</div>
                        </a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </li>
            <!-- Mega Menu
             ============================================= -->
            <li class="mega-menu"><a href="#">
              <div>Shortcodes</div>
              </a>
              <div class="mega-menu-content style-dropdown col-4 clearfix">
                <ul>
                  <li class="mega-menu-title">
                    <ul>
                      <li><a href="shortcodes_accordion.html">
                        <div>Accordion</div>
                        </a></li>
                      <li><a href="shortcodes_alert_message.html">
                        <div>Alert Message</div>
                        </a></li>
                      <li><a href="shortcodes_animation.html">
                        <div>Animation</div>
                        </a></li>
                      <li><a href="shortcodes_blockquote.html">
                        <div>Blockquote</div>
                        </a></li>
                      <li><a href="shortcodes_button.html">
                        <div>Buttons</div>
                        </a></li>
                      <li><a href="shortcodes_carousal.html">
                        <div>Carousal</div>
                        </a></li>
                    </ul>
                  </li>
                </ul>
                <ul>
                  <li class="mega-menu-title">
                    <ul>
                      <li><a href="shortcodes_columns.html">
                        <div>Columns</div>
                        </a></li>
                      <li><a href="shortcodes_divider.html">
                        <div>Dividers</div>
                        </a></li>
                      <li><a href="shortcodes_maps.html">
                        <div>Google Map</div>
                        </a></li>
                      <li><a href="shortcodes_light_box.html">
                        <div>Lightbox</div>
                        </a></li>
                      <li><a href="shortcodes_list.html">
                        <div>List</div>
                        </a></li>
                      <li><a href="shortcodes_media.html">
                        <div>Media</div>
                        </a></li>
                    </ul>
                  </li>
                </ul>
                <ul>
                  <li class="mega-menu-title">
                    <ul>
                      <li><a href="shortcodes_modal_box.html">
                        <div>Modal Box</div>
                        </a></li>
                      <li><a href="shortcodes_icons.html">
                        <div>Icons</div>
                        </a></li>
                      <li><a href="shortcodes_pagination.html">
                        <div>Pagination</div>
                        </a></li>
                      <li><a href="shortcodes_panels.html">
                        <div>Panels</div>
                        </a></li>
                      <li><a href="shortcodes_popovers.html">
                        <div>Popovers &amp; Tooltips</div>
                        </a></li>
                      <li><a href="shortcodes_progress_bar.html">
                        <div>Progress Bar</div>
                        </a></li>
                    </ul>
                  </li>
                </ul>
                <ul>
                  <li class="mega-menu-title">
                    <ul>
                      <li><a href="shortcodes_pricing.html">
                        <div>Pricing Tables </div>
                        </a></li>
                      <li><a href="shortcodes_social.html">
                        <div>Social Icons</div>
                        </a></li>
                      <li><a href="shortcodes_sections.html">
                        <div>Sections</div>
                        </a></li>
                      <li><a href="shortcodes_tabs.html">
                        <div>Tabs</div>
                        </a></li>
                      <li><a href="shortcodes_tables.html">
                        <div>Tables</div>
                        </a></li>
                      <li><a href="shortcodes_typography.html">
                        <div>Typography</div>
                        </a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </li>
            <li><a href="#">
              <div>Shop</div>
              </a>
              <ul class="menu-pos-invert">
                <li><a href="shop_carts.html">
                  <div>Carts</div>
                  </a></li>
                <li><a href="shop_wishlist.html">
                  <div>Wishlist</div>
                  </a></li>
                <li><a href="shop_checkout.html">
                  <div>Checkout</div>
                  </a></li>
                <li><a href="shop_myaccount.html">
                  <div>My Account</div>
                  </a></li>
              </ul>
            </li>
          </ul>
          <!-- Top Cart
                        ============================================= -->
          <div id="shop_cart" > <a href="#" id="shop_tigger"><i class="fa fa-shopping-cart"></i><span>3</span></a>
            <div class="shop_cart_content">
              <h4>Shopping Cart</h4>
              <div class="cart_items">
                <div class="item clearfix"> <a href="#"><img src="img/post_thumb.jpg" alt=""></a>
                  <div class="item_desc"> <a href="menu_single.html">Food Name</a> <span class="item_price">$12.89</span> <span class="item_quantity">x 2</span> </div>
                </div>
                <!-- End item -->
                <div class="item clearfix"> <a href="#"><img src="img/post_thumb2.jpg" alt=""></a>
                  <div class="item_desc"> <a href="menu_single.html">Food Name</a> <span class="item_price">$30.00</span> <span class="item_quantity">x 2</span> </div>
                </div>
                <!-- End item -->
                <div class="item clearfix"> <a href="#"><img src="img/post_thumb3.jpg" alt=""></a>
                  <div class="item_desc"> <a href="menu_single.html">Food Name</a> <span class="item_price">$21.99</span> <span class="item_quantity">x 4</span> </div>
                </div>
                <!-- End item -->
                <div class="shop_action clearfix"> <span class="shop_checkout_price">$150.99</span>
                  <button class="btn btn-dark">View Cart</button>
                </div>
              </div>
              <!-- End cart items -->
            </div>
            <!-- End shop cart content -->
          </div>
          <!-- End shop cart -->
        </nav>
        <!-- #main-menu end -->
      </div>
    </div>
  </header>
  <!-- End header -->
  <!-- Content
    ============================================= -->
  <div id="content">
    <!-- Menu Grid Tabs
    ============================================= -->
    <div class="menu_tabs text-center mb40">
      <!-- Menu Bar -->
      <div class="menu-bar dark">
        <!-- menu Filter
                    ============================================= -->
        <ul id="menu-fillter" class="clearfix">
          <li><a href="#" data-filter=".pf-daily-menu">dialy menu</a></li>
          <li><a href="#" data-filter=".pf-starter">starter</a></li>
          <li><a href="#" data-filter=".pf-dishes">dishes</a></li>
          <li><a href="#" data-filter=".pf-desert">DESERT</a></li>
          <li><a href="#" data-filter=".pf-drinks">DRINKS</a></li>
        </ul>
        <!-- #menu-filter end -->
      </div>
      <!-- End menu bar -->
      <!-- Menu Items
                    ============================================= -->
      <div class="container">
        <!-- Menu Items Masonary Content -->
        <div id="menu-items" class="text-left padding-t-100" >
          <!-- Menu Item -->
          <article class="menu-item-list col-md-6 col-sm-12 pf-daily-menu pf-starter pf-desert">
            <div class="item-img">
              <div class="overlay_content">
                <!-- Overlay Item -->
                <div class="overlay_item"> <img src="img/menu/breakfast_1.jpg" alt="">
                  <!-- Overlay -->
                  <div class="overlay">
                    <!-- Icons -->
                    <div class="icons">
                      <!-- Buttons -->
                      <div class="button"> <a href="img/menu/breakfast_1.jpg" rel="lightbox"><i class="fa fa-expand"></i></a> <a href="#"><i class="fa fa-shopping-cart"></i></a> </div>
                      <!-- End Buttons -->
                      <a class="close-overlay hidden">x</a> </div>
                    <!-- End Icons -->
                  </div>
                  <!-- End Overlay -->
                </div>
                <!-- End Overlay Item -->
              </div>
            </div>
            <h3><a href="menu_single.html">Grandpa's Country Fried </a> <span class="price">$45</span></h3>
            <p>Two Eggs* cooked to order with Grits, Sawmill Gravy and Homemade Buttermilk Biscuits.</p>
          </article>
          <!-- End Menu Item -->
          <!-- Menu Item -->
          <article class="menu-item-list col-md-6 col-sm-12 pf-starter pf-drinks">
            <div class="item-img">
              <div class="overlay_content">
                <!-- Overlay Item -->
                <div class="overlay_item"> <img src="img/menu/breakfast_2.jpg" alt="">
                  <!-- Overlay -->
                  <div class="overlay">
                    <!-- Icons -->
                    <div class="icons">
                      <!-- Buttons -->
                      <div class="button"> <a href="img/menu/breakfast_2.jpg" rel="lightbox"><i class="fa fa-expand"></i></a> <a href="#"><i class="fa fa-shopping-cart"></i></a> </div>
                      <!-- End Buttons -->
                      <a class="close-overlay hidden">x</a> </div>
                    <!-- End Icons -->
                  </div>
                  <!-- End Overlay -->
                </div>
                <!-- End Overlay Item -->
              </div>
            </div>
            <h3><a href="menu_single.html">Fresh Start Sampler</a> <span class="price">$33</span></h3>
            <p>Low-Fat Vanilla Yogurt and Seasonal Fruit topped with our Honey Granola mix of Almonds and Dried Fruit.</p>
          </article>
          <!-- End Menu Item -->
          <!-- Menu Item -->
          <article class="menu-item-list col-md-6 col-sm-12 pf-dishes pf-desert pf-starter">
            <div class="item-img">
              <div class="overlay_content">
                <!-- Overlay Item -->
                <div class="overlay_item"> <img src="img/menu/breakfast_3.jpg" alt="">
                  <!-- Overlay -->
                  <div class="overlay">
                    <!-- Icons -->
                    <div class="icons">
                      <!-- Buttons -->
                      <div class="button"> <a href="img/menu/breakfast_3.jpg" rel="lightbox"><i class="fa fa-expand"></i></a> <a href="#"><i class="fa fa-shopping-cart"></i></a> </div>
                      <!-- End Buttons -->
                      <a class="close-overlay hidden">x</a> </div>
                    <!-- End Icons -->
                  </div>
                  <!-- End Overlay -->
                </div>
                <!-- End Overlay Item -->
              </div>
            </div>
            <h3><a href="menu_single.html">Momma's Pancake</a> <span class="price">$90</span></h3>
            <p>Seasonal ripe berries on a crispy crust with amazing smell and long-lasting aftertaste.</p>
          </article>
          <!-- End Menu Item -->
          <!-- Menu Item -->
          <article class="menu-item-list col-md-6 col-sm-12 pf-daily-menu pf-drinks pf-starter">
            <div class="item-img">
              <div class="overlay_content">
                <!-- Overlay Item -->
                <div class="overlay_item"> <img src="img/menu/breakfast_4.jpg" alt="">
                  <!-- Overlay -->
                  <div class="overlay">
                    <!-- Icons -->
                    <div class="icons">
                      <!-- Buttons -->
                      <div class="button"> <a href="img/menu/breakfast_4.jpg" rel="lightbox"><i class="fa fa-expand"></i></a> <a href="#"><i class="fa fa-shopping-cart"></i></a> </div>
                      <!-- End Buttons -->
                      <a class="close-overlay hidden">x</a> </div>
                    <!-- End Icons -->
                  </div>
                  <!-- End Overlay -->
                </div>
                <!-- End Overlay Item -->
              </div>
            </div>
            <h3><a href="menu_single.html">Homemade Dumplins</a> <span class="price">$56</span></h3>
            <p>Seasonal ripe berries on a crispy crust with amazing smell and long-lasting aftertaste.</p>
          </article>
          <!-- End Menu Item -->
          <!-- Menu Item -->
          <article class="menu-item-list col-md-6 col-sm-12 pf-dishes pf-desert pf-starter">
            <div class="item-img">
              <div class="overlay_content">
                <!-- Overlay Item -->
                <div class="overlay_item"> <img src="img/menu/breakfast_5.jpg" alt="">
                  <!-- Overlay -->
                  <div class="overlay">
                    <!-- Icons -->
                    <div class="icons">
                      <!-- Buttons -->
                      <div class="button"> <a href="img/menu/breakfast_5.jpg" rel="lightbox"><i class="fa fa-expand"></i></a> <a href="#"><i class="fa fa-shopping-cart"></i></a> </div>
                      <!-- End Buttons -->
                      <a class="close-overlay hidden">x</a> </div>
                    <!-- End Icons -->
                  </div>
                  <!-- End Overlay -->
                </div>
                <!-- End Overlay Item -->
              </div>
            </div>
            <h3><a href="menu_single.html">Biscuits n' Gravy</a> <span class="price">$80</span></h3>
            <p>Three Buttermilk Biscuits with Sawmill Gravy and Smoked Sausage Patties or Thick-Sliced Bacon.</p>
          </article>
          <!-- End Menu Item -->
          <!-- Menu Item -->
          <article class="menu-item-list col-md-6 col-sm-12 pf-dishes pf-starter">
            <div class="item-img">
              <div class="overlay_content">
                <!-- Overlay Item -->
                <div class="overlay_item"> <img src="img/menu/breakfast_6.jpg" alt="">
                  <!-- Overlay -->
                  <div class="overlay">
                    <!-- Icons -->
                    <div class="icons">
                      <!-- Buttons -->
                      <div class="button"> <a href="img/menu/breakfast_6.jpg" rel="lightbox"><i class="fa fa-expand"></i></a> <a href="#"><i class="fa fa-shopping-cart"></i></a> </div>
                      <!-- End Buttons -->
                      <a class="close-overlay hidden">x</a> </div>
                    <!-- End Icons -->
                  </div>
                  <!-- End Overlay -->
                </div>
                <!-- End Overlay Item -->
              </div>
            </div>
            <h3><a href="menu_single.html">Sausage n' Biscuit</a> <span class="price">$12</span></h3>
            <p>Seasonal ripe berries on a crispy crust with amazing smell and long-lasting aftertaste.</p>
          </article>
          <!-- End Menu Item -->
          <!-- Menu Item -->
          <article class="menu-item-list col-md-6 col-sm-12 pf-dishes pf-drinks">
            <div class="item-img">
              <div class="overlay_content">
                <!-- Overlay Item -->
                <div class="overlay_item"> <img src="img/menu/breakfast_7.jpg" alt="">
                  <!-- Overlay -->
                  <div class="overlay">
                    <!-- Icons -->
                    <div class="icons">
                      <!-- Buttons -->
                      <div class="button"> <a href="img/menu/breakfast_7.jpg" rel="lightbox"><i class="fa fa-expand"></i></a> <a href="#"><i class="fa fa-shopping-cart"></i></a> </div>
                      <!-- End Buttons -->
                      <a class="close-overlay hidden">x</a> </div>
                    <!-- End Icons -->
                  </div>
                  <!-- End Overlay -->
                </div>
                <!-- End Overlay Item -->
              </div>
            </div>
            <h3><a href="menu_single.html">Fresh Steamed Broccoli</a> <span class="price">$28</span></h3>
            <p>Seasonal ripe berries on a crispy crust with amazing smell and long-lasting aftertaste.</p>
          </article>
          <!-- End Menu Item -->
          <!-- Menu Item -->
          <article class="menu-item-list col-md-6 col-sm-12 pf-daily-menu pf-desert">
            <div class="item-img">
              <div class="overlay_content">
                <!-- Overlay Item -->
                <div class="overlay_item"> <img src="img/menu/breakfast_8.jpg" alt="">
                  <!-- Overlay -->
                  <div class="overlay">
                    <!-- Icons -->
                    <div class="icons">
                      <!-- Buttons -->
                      <div class="button"> <a href="img/menu/breakfast_8.jpg" rel="lightbox"><i class="fa fa-expand"></i></a> <a href="#"><i class="fa fa-shopping-cart"></i></a> </div>
                      <!-- End Buttons -->
                      <a class="close-overlay hidden">x</a> </div>
                    <!-- End Icons -->
                  </div>
                  <!-- End Overlay -->
                </div>
                <!-- End Overlay Item -->
              </div>
            </div>
            <h3><a href="menu_single.html">Grilled Reuben</a> <span class="price">$79</span></h3>
            <p>Seasonal ripe berries on a crispy crust with amazing smell and long-lasting aftertaste.</p>
          </article>
          <!-- End Menu Item -->
        </div>
        <!-- End Menu Content -->
      </div>
      <!-- #menu end -->
    </div>
    <!-- End Menu Grid -->
  </div>
  <!-- end of #content -->
  <!-- Footer
      ============================================= -->
  <footer id="footer" class="padding-50 dark">
    <div class="container">
      <div class="row">
        <!-- Our location !-->
        <div class="col-md-3 col-sm-6 col-xs-12 our_location">
          <h3>Our Location</h3>
          <p>Majesty  Head Office:</p>
          <span>1422 1st St. Santa Rosa,t CA 94559. USA</span>
          <p class="mt30">Call for Reservations:<span >(001) 123-4567</span></p>
          <p>E-mail: <span>admin@e-mail.com</span> </p>
          <ul class="social mt30">
            <li><a href="#" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" data-toggle="tooltip" title="Google+"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#" data-toggle="tooltip" title="Behance"><i class="fa fa-behance"></i></a></li>
          </ul>
        </div>
        <!-- End our location -->
        <!-- Latest Post !-->
        <div class="col-md-3 col-sm-6 col-xs-12 latest_post ">
          <h3>Lastest Post</h3>
          <div class="media">
            <div class="media-left"> <a href="blog_single_image.html" > <img class="media-object" rel="prettyPhoto" src="img/post_thumb.jpg" alt="post thumb"> </a> </div>
            <div class="media-body">
              <h4 class="media-heading"><a href="blog_single_image.html">Thai Tanic</a></h4>
              Lorem ipsum dolor sit amet, sectetur adipiscing elit. </div>
          </div>
          <!-- End media -->
          <div class="media">
            <div class="media-left"> <a href="blog_single_image.html" > <img class="media-object" rel="prettyPhoto" src="img/post_thumb2.jpg" alt="post thumb"> </a> </div>
            <div class="media-body">
              <h4 class="media-heading"><a href="blog_single_image.html">Work & Roll</a></h4>
              Lorem ipsum dolor sit amet, sectetur adipiscing elit. </div>
          </div>
          <!-- End media -->
          <div class="media">
            <div class="media-left"> <a href="blog_single_image.html" > <img class="media-object" rel="prettyPhoto" src="img/post_thumb3.jpg" alt="post thumb"> </a> </div>
            <div class="media-body">
              <h4 class="media-heading"><a href="blog_single_image.html">Blog Name</a></h4>
              Lorem ipsum dolor sit amet, sectetur adipiscing elit. </div>
          </div>
          <!-- End media -->
        </div>
        <!-- End latest Post -->
        <!-- Opening time !-->
        <div class="col-md-3 col-sm-6 col-xs-12 opening_time">
          <h3>Opening Times</h3>
          <ul>
            <li>
              <p>Monday
                <time datetime="00:01">1 pm - 10 pm</time>
              </p>
            </li>
            <li>
              <p>Tuesday
                <time datetime="00:01">1 pm - 10 pm</time>
              </p>
            </li>
            <li>
              <p>Wednesday
                <time datetime="00:01">1 pm - Midnight</time>
              </p>
            </li>
            <li>
              <p>Thursday
                <time datetime="00:01">1 pm - 10 pm</time>
              </p>
            </li>
            <li>
              <p>Friday
                <time datetime="00:01">1 pm - Midnight</time>
              </p>
            </li>
            <li>
              <p>Saturday <span class="label label-default">Closed</span></p>
            </li>
            <li>
              <p>Sunday
                <time datetime="00:01">1 pm - 10 pm</time>
              </p>
            </li>
          </ul>
        </div>
        <!-- End opening time -->
        <!-- Flickr !-->
        <div class="col-md-3 col-sm-6 col-xs-12 flickr">
          <h3>Flickr Photos</h3>
          <ul id="flickrbox" class="thumbs">
          </ul>
        </div>
        <!-- End flickr -->
      </div>
    </div>
    <!-- End container -->
    <!-- Footer logo !-->
    <div class="footer_logo text-center"> <img  src="img/footer_logo.png"  alt="logo">
      <p> 2015 ALL RIGHT RESERVED. DESIGNED BY <a target="_blank" href="http://creative-wp.com">CREATIVE WP</a></p>
    </div>
    <!-- End Footer logo !-->
  </footer>
  <!-- End footer -->
  <!--  scroll to top of the page-->
  <a href="#" id="scroll_up" ><i class="fa fa-angle-up"></i></a> </div>
<!-- End wrapper -->
<!-- Core JS Libraries -->
<script src="javascripts/libs/jquery.min.js" type="text/javascript"></script>
<script src="javascripts/libs/plugins.js"></script>
<!-- JS Plugins -->
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script src="javascripts/libs/modernizr.js"></script>
<!-- JS Custom Codes -->
<script src="javascripts/custom/main.js" ></script>
</body>
</html>